@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.chat-room-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #31a24c;
}

.logo {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.logo span {
  margin-right: 6px;
}

.side_items {
  display: flex;
  align-items: center;
  position: relative;
}

.active_users {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #eeeeee;
  font-weight: bold;
  color: #eeeeee;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  width: 100%;
  margin: auto;
  overflow: auto;
  background-color: #303030;
  transition: all 0.3s ease;
  position: relative;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.message-item {
  width: 100%;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  align-items: flex-start;
}

.message_info {
  padding: 10px;
  display: block;
  position: relative;
  height: 100px;
  width: 100%;
}

.message_info .text {
  font-size: 13px;
  line-height: 1.4;
  display: block;
  width: 100%;
  position: relative;
}

.time_sent {
  width: 100%;
  bottom: 0;
  left: 10px;
  font-size: 10px;
  color: #dddddd;
  font-weight: lighter;
  position: absolute;
}

.chat_box_container {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.new-message-input-field {
  width: 100%;
  height: 100%;
  color: #eeeeee;
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 13px;
}

.text_counter {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 10px;
  color: #cccccc;
}

.recording_state {
  position: absolute;
  top: -45px;
  display: block;
  width: 100%;
  padding: 6px;
  text-align: center;
  color: #ffffff;
  background-color: #fecd64;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
}

.typing_state {
  position: absolute;
  top: -45px;
  display: block;
  width: 100%;
  padding: 6px;
  text-align: center;
  color: #ffffff;
  background-color: #fecd64;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.send-message-button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  padding: 8px 12px;
  border: none;
}

.loading_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_title {
  font-size: 13px;
  color: #cccccc;
  text-transform: uppercase;
  margin-left: 10px;
}

.no_cam {
  display: block;
  width: 155px;
  height: 100px;
  background-color: #303030;
}

.cam_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 140px;
  height: 100px;
}

.toggle_cam_btn {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
}
